[Unit]
Description=Mounting Sophon Device Drivers.
After=basic.target

[Service]
User=root
ExecStart=/usr/sbin/bmrt_loadko.sh
Type=oneshot

[Install]
WantedBy=network.target
