[Unit]
Description=BMVETH Background Service
After=network.target

[Service]
Type=simple
User=root
ExecStart=/usr/bin/bmveth
Restart=no

[Install]
WantedBy=multi-user.target
