[Unit]
Description=Start SSH Daemon on Wakeup
After=suspend.target

[Service]
Type=oneshot
ExecStart=/bin/systemctl start sshd

[Install]
WantedBy=suspend.target
