[Unit]
Description=Soph Monitor Fan and Temp for sm7 airbox
After=ledSocketServer.service
Conflicts=bmSE6Monitor.service

[Service]
User=root
ExecStart=/bin/bash /usr/sbin/airbox_fan_monitor.sh
ExecReload=/bin/kill -HUP $MAINPID
WorkingDirectory=/usr/sbin/
KillMode=control-group
Restart=on-failure
RestartPreventExitStatus=255
Type=simple
RestartSec=10

[Install]
WantedBy=multi-user.target
