[Unit]
Description=setup sophon runtime env.
After=network.target

[Service]
User=root
ExecStart=/usr/sbin/bmrt_setup.sh
Type=oneshot

[Install]
WantedBy=multi-user.target
