[Unit]
Description=Sophon ttyd Service
After=network.target

[Service]
User=root
ExecStart=bm_ttyd.sh
ExecReload=/bin/kill -HUP $MAINPID
WorkingDirectory=/home/linaro
KillMode=control-group
Restart=on-failure
RestartPreventExitStatus=200
Type=simple
RestartSec=10

[Install]
WantedBy=multi-user.target

