[Unit]
Description=setup bitmain runtime env.
After=network.target.service

[Service]
User=root
ExecStart=/usr/sbin/bmrt_setup.sh
Type=oneshot

[Install]
WantedBy=multi-user.target
