[Unit]
Description=Sophon Device Detect Tools Service
After=network.target

[Service]
User=root
ExecStart=/sbin/bm_ddt_server
ExecReload=/bin/kill -HUP $MAINPID
KillMode=control-group
Restart=on-failure
RestartPreventExitStatus=200
Type=simple
RestartSec=10

[Install]
WantedBy=multi-user.target
