[Unit]
Description=Sophon Fan and Temperature Monitor Service for SE6
After=network.service
Conflicts=bmSysMonitor.service

[Service]
User=root
ExecStart=/bin/bash fan_monitor.sh
ExecReload=/bin/kill -HUP $MAINPID
WorkingDirectory=/root/se_ctrl/monitor/
KillMode=control-group
Restart=on-failure
RestartPreventExitStatus=200
Type=simple
RestartSec=10

[Install]
WantedBy=multi-user.target
