[Unit]
Description= DHCP Client
Before=network.target
After=wpa_supplicant.service

[Service]
Type=simple
ExecStart=/sbin/dhclient wlan0 -v
#ExecStop=/sbin/dhclient wlp1s0 -r

[Install]
WantedBy=multi-user.target
